
.slot-machine-body{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin: 40px 25px 30px 25px;
    width:100%;
    width: auto;
    min-height: 750px;
}
.slot-machine-screen{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    background-color: #8AD6DC;
    margin: 10px;
    padding: 30px 40px;
    border-radius:12px;
    width: 85%;   
}

/* rows hold the food selection, lock is the button to lock in option*/
.row-1, .row-2, .row-3, .lock-1, .lock-2, .lock-3{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
    background-color: rgb(240, 236, 237);
    border-radius: 12px;
    padding: 5px 10px;
    overflow:hidden;
}

/* change the height of grid items based on type*/
.row-1, .row-2, .row-3{
    height:auto;
}


/* edit the properties of the image preview div*/
.img-preview {
    height: 250px;
}
.img-preview img{
    max-height: 100%;
    min-height: 150px;
    min-width: 100%;
    max-width: 350px;
    border-radius:12px;
}
/* for the button that will initialize selection*/
.spin-container{
    height: 100px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.spin-container button{
    margin: 10px;
    border-radius: 50%;
    background-color: red;
    padding: 10px;
    width: 150px;
    height: 150px;
    color:white;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 670;
    letter-spacing: 0.1cap;
    text-decoration:none;
    cursor:pointer;
    background: linear-gradient(45deg, #3498db, #217dbb);
    box-shadow: 3px 3px 5px #888888, -3px -3px 5px #fff;
}
.main-title h1{
    font-size: 42px;
    display: inline-block;
}

#logo_img {
    align-items: center;
    width: 700px;
    height: 165px;
    margin-top: 25px;
    margin-left: 12px;
    margin-bottom: 15px;
}

.dropbtn {
    background-color: #323871;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float:left;
    margin-top: 68px;
    margin-right: 70px;
  }
  
  .dropdown {
    float:right;
    display: flex;
    flex-direction: column;
}
  
  .dropdown-content {
    display: none;
    position:inherit;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.allergy-container, .diet-container{
    display:flex;
    align-items: center;
    justify-content: left;
}
.allergy-txt{
    width:300px;
    height: 30px;
    margin: 5px 15px;
    border-radius:12px;
    padding: 5px;
    font-size: 15px;
}
.vegan, .vegetarian{
    margin: 5px 20px;
}

.btn-vegan, .btn-vegetarian, .btn-allergy, .btn-none{
    border-radius: 12px;
    padding: 8px 15px;
    font-size: 19px;
    color: white;
    background-color: rgb(65, 216, 65);
    box-shadow: 3px 3px 5px #888888, -3px -3px 5px #fff;
    border:none;
}
.btn-allergy{
    background-color: #217dbb;
}

.diet-main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lock-1, .lock-2, .lock-3{
    flex-direction: row;

}
.btn-recipe, .btn-lock{
    border-radius: 12px;
    padding: 8px 15px;
    font-size: 16px;
    color: white;
    background-color: rgb(65, 216, 65);
    text-decoration: none;
    display:inline-block;
    margin: 10px;
    border:none;
    box-shadow: 3px 3px 5px #888888, -3px -3px 5px #fff;
    cursor:pointer;
}
.btn-lock{
    background-color: rgb(248, 52, 52);
}


@media screen and (max-width: 650px) {
    .slot-machine-screen {
        grid-template-columns: 1fr; /* Display as a single column */
        width: 90%; 
        margin: 0 auto; /* Center the screen */
        padding: 10px; 
      
    }
  
    .row-1, .row-2, .row-3, .lock-1, .lock-2, .lock-3 {
      height: auto; 
    }
    .allergy-container, .diet-container{
        display:flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }
    .vegan, .vegetarian{
        margin: 3px;
    }
  }

  /* for the recipe preview window*/
.recipe-details{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#fff;
    background-color:#217dbb;
    border-radius: 1rem;
    width: 90%;
    height:90%;
    overflow-y:scroll;
    display: none;
    padding: 15px 0;
    text-align:center;
}
.recipe-details::-webkit-scrollbar{
    width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb{
    background-color: #f0f0f0;
    border-radius: 8px;
}

.recipe-content{
    margin: 10px;
}
.btn-close{
   position:absolute;
   right: 30px;
   top:30px;
   font-size: 30px;
   background-color: #fff;
   border:none;
   width: 35px;
   height: 35px;
   border-radius: 50px;
   display:flex; 
   justify-content: center;
   align-items: center;
   opacity: 0.9;
   cursor:pointer;
}
.recipe-title{
    padding-bottom:10px;
}
.recipe-category, li{
    background-color: #fff;
    font-weight:600;
    color:#217dbb;
    display:inline-block;
    padding: 5px 8px;
    border-radius: 7px;
}

.recipe-directions{
    padding: 8px 0;
}

.recipe-link{
    margin: 15px 0;
}
.recipe-link a{
    color:#fff;
    font-size: 29px;
    font-weight:700;
    transition: all 0.4 linear;
}
.recipe-link a:hover{
    opacity: 0.7;
}
.recipe-content{
    padding:15px 0;
}

/* Style for the list */
ul {
    list-style-type: none; 
    padding: 0; 
}

/* Style for list items */
li {
    display: flex; 
    align-items: center; 
    margin: 3px;
}

.btn-ingredient{
    display:inline-block; 
    color:black;
    margin: 3px;
    cursor:pointer;
}

.shopping-ingredient{
    border-radius: 12px;
    padding: 8px 15px;
    font-size: 16px;
    color: white;
    background-color: #217dbb;
    text-decoration: none;
    display:block;
    margin: 10px;
    border:none;
    box-shadow: 3px 3px 5px #888888, -3px -3px 5px #fff;
}

.ingredients{
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.ingredients ul{
    overflow:hidden;
    text-overflow: ellipsis;
}

.ingredients.expanded{
    height: 400px;
}

.grocery-container{
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grocery-title {
    margin-bottom:0;
}
.grocery-items{
    margin-top: 0;
}
.grocery-margin{
    margin-top:0px;
    margin-bottom: 0px;
}

.grocery-container h1{
    font-size: 50px;
}

.crossed-out{
    text-decoration: line-through;
    color: gray;
}


/* Mission statement section */
.statement-container {
    margin-top: 40px;
    text-align: center;
    background-color: #8AD6DC; /* Add the background color */
    padding: 20px; /* Add some padding for better visual appearance */
    border-radius: 12px;
}

.about-title {
    font-size: 2em;
    color: #333;
}

.statement {
    margin-top: 20px;
    color: #555;
}

/* Contact info section */
.contact-info-container {
    margin-top: 20px;
    text-align: center;
}

.contact-info {
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    /*margin: 10px 0;*/
    color: #555;
}